.search-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container-center {
  justify-content: center;
  align-items: center;
}

.search-container-top {
  justify-content: center;
  align-items: flex-start;
}
